#paneBackgroundLogin, #paneBackgroundSignUp{
   -fx-background-color: radial-gradient(center 50% 50% , radius 3000px, #202020, black);
}

#textFieldUserLogin, #passFieldUserLogin{
    -fx-text-fill: #01a72b;
}

#textFieldUserSignUp, #passFieldUserSignUp, #textFieldEmailSignUp{
    -fx-text-fill: #0082c6;
}
#textFieldResultDescription{
    -fx-text-fill: #01a72b;
}

.button {
	-fx-background-color: transparent;
    -fx-skin: "com.boancionut.eyetester.ScaleSkin";
}

#buttonLogin {
    -fx-background-color: #01a72b;
    -fx-background-radius: 8;
}

#buttonSignUp{
    -fx-background-color: #0082c6;
    -fx-background-radius: 8;
}

#buttonResultTestAgain
{
    -fx-background-color: transparent;
    -fx-background-radius: 8;
}
#buttonResultFinish {
    -fx-background-color: #e45046;
    -fx-background-radius: 8;
}